html{
    background-color: rgb(188,196,196);
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    padding: 10px 50px 50px 40px;
}


.navbar{
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(57,45,40);
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

li {
    display: inline-block;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(238,233,227);
}

h2{
    font-size: 30px;
    color: white;
    padding: 30px 50px 0px 10px;
    margin: 0px;
}

.headline{
    padding-bottom: 10px;
    background-image: url("https://media.cnn.com/api/v1/images/stellar/prod/200402101927-18-best-turkish-foods-lahmacun.jpg?q=w_1160,c_fill/f_webp");
    background-size:auto;
    border-radius: 10px;
    margin-top: 20px;
}

p.headlinetext{
    font-size:15px;
    word-wrap: break-word;
    color: white;
    padding: 20px 50px 10px 10px;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: left;
    width: 100%;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.column{
    padding: 16px;
    margin: 15px;
    background-color: #f4e5d6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}

.column p{
    margin-bottom: 10px;
}

.column a{
    text-decoration: none;
    color: #007bff;
}

.column img{
    max-width: 100%;
    height: auto;
}

/* Menu Page CSS */
.menu-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category {
    display: flex;
    flex-direction: column;
    background-color: #f4e5d6;
    padding: 20px;
    border-radius: 10px;
}

.category h3{
    font-size: 24px;
    margin-bottom: 10px;
}

.dish-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.dish{
    display: 1;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
}

.dish img{
    max-width: 25%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.dish h4{
    font-size: 20px;
    margin-bottom: 5px;
}

.dish p{
    font-size: 16px;
    color: #333;
    margin: 0;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-top: 1px solid black; /* Add a border at the top */
}

footer img {
    max-width: 100px; /* Set the max width for the image */
}

footer p {
    margin: 0; /* Remove default margin for the paragraph */
    
}

